$black: #000;
$white: #fff;
$lilac: #5036e6;
$green: #009465;
$font: "NotoSans", Arial, Helvetica, sans-serif;
$fontNormal: normal;

$bootColor: $green;
$primaryColor: $black;
$secondaryColor: $lilac;
$textColor: $white;
